.userinfo {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.userinfo-avatar {
  width: 232rpx;
  height: 189rpx;
  margin: 231rpx 0 0 0;
}

.userinfo-nickname {
  margin-top: 40rpx;
  font-weight: bold;
  font-size: 56rpx;
  color: #4a4a4a;
}

.button_container {
  width: 100%;
  position: absolute;
  bottom: 231rpx;
}

button {
  margin: 30rpx 40rpx 0 40rpx;
}

.foot {
  position: absolute;
  bottom: 38rpx;
  width: 100%;
  color: #576b95;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 11pt;
}
